<div class="sidebar-container">
    <div>
        <div>
            <img src="../../assets/img/GrassHopper.jpg" class="logo">
        </div>
        <div class="sidebar-item active" [ngClass]="{'active': getUrl() === '/home'}">
            <img src="assets/svg/home.svg" class="sidebar-item-icon ">
            <div [routerLink]="'/home'" class="icon-label">Inicio</div>
        </div>



        <div class="sidebar-item " [ngClass]="{'active': getUrl() === '/bookmarks'}">
            <img src="assets/svg/bookmark.svg" class="sidebar-item-icon ">
            <div [routerLink]="'/bookmarks'" class="icon-label">Guardados</div>
        </div>

        <div [routerLink]="'/profile/tweets'" class="sidebar-item"
            [ngClass]="{'active': getUrl() === '/profile/tweets' || getUrl() === '/profile/retweets' || getUrl() === '/profile/replies' || getUrl() === '/profile/likes'}">
            <img src="assets/svg/profile.svg" class="sidebar-item-icon">
            <div class="icon-label">Perfil</div>
        </div>
        <div class="sidebar-item">
            <img src="assets/svg/more.svg" class="sidebar-item-icon">
            <div class="icon-label">Mas</div>
        </div>

        <div class="button">Publicaciones</div>
        <div>
            <button class="logout-btn" (click)="logout()">Salir</button>
        </div>
    </div>

</div>