<body>
    <header class="sidebar">
        <app-navegacion></app-navegacion>
    </header>

    <main class="main">
        <div class="main-container">
            <div>
                <div>
                    <img class="header-photo">
                </div>
                <div class="profile-section">
                    <div class="profile-img-container">
                        <img class="profile-img">
                        <div class="edit-button">Editar Perfil</div>
                    </div>
                    <div style="padding-left:12px;">
                        <div class="user-first-name"></div>
                        <div class="username"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>


                </div>
            </div>
            <div class="navbar">
                <div class="navbar-item">Publicaciones</div>
                <div class="navbar-item">Comentarios</div>
                <div class="navbar-item">Respuestas</div>
                <div class="navbar-item">Me gustas</div>
            </div>
            <div>
                <div class="tweets">
                </div>
            </div>
        </div>
        <div class="trends"></div>
    </main>
</body>