<!DOCTYPE html>
<html>

<body>
    <header class="sidebar">
        <app-navegacion></app-navegacion>
    </header>

    <main class="main">
        <div class="main-container">
            <div class="tweet-form__container">

                <img src="../../assets/img/GrassHopper.jpg" alt="" class="profile-img">

                <div class="tweet-form">
                    <div>
                        <form id="newTweetForm">
                            <textarea id="text-area" class="tweet-form__text-area" name="text-area" rows="4" cols="50"
                                placeholder="Que estas pensando?" required></textarea>
                        </form>
                    </div>

                    <div class="tweet-form__footer">
                        <div class="tweet-form__footer-icons">
                            <img src="../../assets/img/GrassHopper.jpg">
                            <img src="../../assets/img/GrassHopper.jpg">
                            <img src="../../assets/img/GrassHopper.jpg">
                            <img src="../../assets/img/GrassHopper.jpg">
                            <img src="../../assets/img/GrassHopper.jpg">
                            <img src="../../assets/img/GrassHopper.jpg">
                        </div>
                        <input class="tweet-form__footer-button" type="submit" form="newTweetForm" value="Tweet">
                    </div>
                </div>
            </div>
            <div class="tweet">
                <app-mensaje></app-mensaje>
            </div>  
        </div>
        <div class="trends"></div>
    </main>
</body>

</html>
