
<div class="sidebar-container">
    <div>
        <div>
            <img src="../../assets/img/GrassHopper.jpg" class="logo">
        </div>
        <div class="sidebar-item active">
            <img src="../../assets/img/GrassHopper.jpg" class="sidebar-item-icon ">
            <div [routerLink]="'/inicio'" class="icon-label">Inicio</div>
        </div>
        <div class="sidebar-item ">
            <img src="../../assets/img/GrassHopper.jpg" class="sidebar-item-icon ">
            <div [routerLink]="'/guardado'" class="icon-label">Guardados</div>
        </div>

        <div [routerLink]="'/perfil'" class="sidebar-item">
            <img src="../../assets/img/GrassHopper.jpg" class="sidebar-item-icon">
            <div class="icon-label">Perfil</div>
        </div>
    
        <div class="button" [routerLink]="'/inicio'" >Publicar</div>
    </div>
    <div>
        <button class="logout-btn" [routerLink]="''">Salir</button>
    </div>
</div>
