<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body class="container">
    <form>
        <label>Nombre</label>
        <div>
            <input type="text">
        </div>

        <label>Apellido</label>
        <div>
            <input type="text">
        </div>

        <label>Nombre de Usuario</label>
        <div>
            <input type="text">
        </div>
        <label>Correo Electronico</label>
        <div>
            <input type="email" required autofocus>
        </div>

        <label>Contraseña</label>
        <div>
            <input type="password">
        </div>

        <input type="submit" value="Registrar">
         <div class="login-link">
            Ya tienes una cuenta? <a routerLink="/acceso">Iniciar Seccion</a>
            </div>
    </form>
</body>

</html>